/* MAIN */
:root {
  --mainCol: rgb(153, 186, 221);
  --secCol: rgb(0, 0, 0);
  --thirdCol: #414f5e;
  min-height: 100%;
  overflow-x: hidden;
}

body,
html {
  background-color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Play", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

h2 {
  color: var(--secCol);
}

.display-2 {
  text-align: center;
  margin-top: 10rem;
  color: white;
}

.button {
  color: var(--secCol);
  background-color: rgb(255, 255, 255);
  border-radius: 0 8px 8px 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 39px;
  width: 43px;
  border: none;
}

.button:hover {
  background-color: #a5a5a5;
  transition: 1s;
}

/* HEADER */

.navbar-brand {
  margin-left: 2em;
  font-size: 30px;
}

.right {
  margin-left: auto;
  margin-right: 5em;
}

.right a:hover {
  color: black;
}

.navbar-toggler {
  margin-right: 1em;
}

.danger {
  color: red;
}

.danger:hover {
  background-color: rgb(255, 219, 219);
  color: rgb(255, 110, 110) !important;
}

.danger:active {
  background: red !important;
}

/* SIGNUP/LOGIN */

.form {
  width: 30vw;
  margin: 6vh auto auto;
  color: black;
  background-color: white;
  border-radius: 3%;
  padding: 2rem;
}

.form h1 {
  color: black;
  text-align: center;
  margin-bottom: 1rem;
}

.form p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: -0.2rem;
  color: var(--thirdCol);
}

.form p a {
  color: #0d6efd;
  text-decoration: none;
}

.signBtn {
  display: flex;
  justify-content: center;
}

.form .blue {
  color: white;
  background: linear-gradient(1deg, black, rgb(51, 51, 51) 99%);
  border: 1px solid black;
  margin-top: 20px;
  width: 25%;
  text-align: center;
}

/* SEARCH BAR */
.searchBar {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 39px;
}

.searchBar input {
  border-radius: 8px 0 0 8px;
  margin-right: 0 !important;
}

/* MOVIE STUFF */
.container {
  width: 120%;
  margin: 1em auto 5em auto;
  padding: 0;
}

.card-img-top {
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 0.4em;
}

.card-img-top:hover {
  transform: scale(1.02);
}

.modal-content {
  background: rgba(255, 255, 255, 0.895);
}

.modalCard {
  margin-top: 1em;
}

.movieModal img {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.movieModal h3 {
  margin-top: 1rem;
  text-align: center;
}

.otherInfo {
  display: flex;
  justify-content: space-between;
}

.modalFooter {
  margin-right: auto;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.beforeCard {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 0.4em;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.saveBtn {
  color: white;
  background: linear-gradient(1deg, black, rgb(51, 51, 51) 99%);
  width: 25%;
  height: 40px;
  border-radius: 0.4em;
  border: 0;
  font-size: 20px;
  margin: 5px;
}

.saveBtn:active {
  transform: scale(0.97);
  transition: 0.1s;
}

.moviesSaved {
  color: white;
  text-align: left;
}

.spinner {
  position: absolute;
  bottom: 55%;
  right: 50%;
  color: var(--mainCol);
}

.cantSave a {
  text-decoration: none;
}

/* FOOTER */

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.footerContent {
  flex: 1;
  margin: 0.75em 0 0.75em 0;
  color: white;
  text-align: center;
}

.footer h6 a {
  color: #0d6efd;
  text-decoration: none;
}

@media (max-width: 1440px) {
  .form {
    width: 35vw;
  }
}

@media (max-width: 1200px) {
  .form {
    width: 50vw;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    margin-left: 0.5em;
  }
}

@media (max-width: 915px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.75rem;
  }
}

@media (max-width: 750px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75rem;
  }

  .form {
    width: 60vw;
  }
}

@media (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.75rem;
  }
  .searchBar {
    width: 300px;
  }
  .modalCard {
    margin: 0.5rem;
  }
  .movieModal img {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .form {
    width: 70vw;
  }
}

@media (max-width: 530px) {
  .form .blue {
    width: 35%;
  }
}

@media (max-width: 453px) {
  .form {
    width: 85vw;
  }
}
