/* MAIN */
:root {
  --mainCol: rgb(153, 186, 221);
  --secCol: rgb(0, 0, 0);
  --thirdCol: #414f5e;
}

body {
  background-color: var(--thirdCol);
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Play", sans-serif;
}

h2 {
  color: var(--secCol);
}

.button {
  color: var(--secCol);
  background-color: var(--mainCol);
  border-radius: 7px;
  padding: 6px;
  border: none;
}

.button:hover {
  background-color: var(--thirdCol);
  transition: 1s;
}

/* HEADER */
.header {
  width: 100%;
  text-align: center;
}

.header h1 {
  padding: 0.75rem;
}

.header h1 a {
  color: var(--mainCol);
  text-decoration: none;
}

/* SEARCH BAR */
.searchBar {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

/* MOVIE STUFF */
.container {
  width: 100%;
  margin: 1em auto;
  background-color: var(--thirdCol);
}

.modalCard {
  margin-top: 3rem;
}

.movieModal img {
  width: 60%;
}

.movieModal h3 {
  margin-top: 1rem;
  text-align: center;
}

.movieModal img {
  margin-left: auto;
  margin-right: auto;
}

.modalFooter {
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem;
}

.beforeCard {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 0px var(--thirdCol);
  border-radius: 0.4em;
}

/* FOOTER */
.footer {
  margin: 0;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.footer h6 a {
  color: var(--mainCol);
  text-decoration: none;
}

@media (max-width: 915px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.75rem;
  }
}

@media (max-width: 750px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75rem;
  }
}

@media (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.75rem;
  }
  .searchBar {
    width: 300px;
  }
  .modalCard {
    margin: 0;
  }
  .movieModal img {
    width: 45%;
  }
}
